*bak
*.bak.[2-9]
dro
dro.pro.user
verbose.map
#Rowley state file
dro.hzs
*~
*autosave
#I seem to like coming up with novel names for this cli executable:
bander
bitbandcalc
gcc-blinky-defines.list
bitbandero/bitbandero.pro*
bitbandero/build/
bitbandero/cmake-build-debug/
crossbuild/
